In [1]:
import pandas as pd
import tarfile
import zipfile
import gzip
import io
import csv
from data.preprocessing import SOHO, interval_years

In [2]:
scrap_date = interval_years('20200901', '20221010')
satellite = SOHO()
monitor = satellite.CELIAS_Proton_Monitor_data(scrap_date)

Downloading https://soho.nascom.nasa.gov/data/EntireMissionBundles/CELIAS_Proton_Monitor_5min.tar.gz to data/SOHO/CELIAS_Proton_Monitor_5min.tar.gz

100%|██████████| 37024528/37024528 [00:25<00:00, 1465235.22it/s]

In [4]:
df = monitor

In [5]:
df

        YY  MON  DY  DOY:HH:MM:SS  SPEED    Np  Vth  N/S  V_He
0       22  Jan   1  001:01:46:58    474  2.56   37 -4.5   489
1       22  Jan   1  001:01:52:00    458  1.83   33 -2.4   471
2       22  Jan   1  001:01:57:03    456  1.93   33 -3.4   468
3       22  Jan   1  001:02:02:03    457  1.93   32 -4.4   468
4       22  Jan   1  001:02:07:06    459  1.86   38 -2.6   476
...     ..  ...  ..           ...    ...   ...  ...  ...   ...
275115  20  Dec  31  366:23:35:08    404  2.53   28 -0.1   413
275116  20  Dec  31  366:23:40:12    397  2.68   26 -0.3   404
275117  20  Dec  31  366:23:45:13    405  1.95   31 -0.7   416
275118  20  Dec  31  366:23:50:15    398  2.28   30 -0.6   408
275119  20  Dec  31  366:23:55:21    392  2.67   28 -0.4   400

[275120 rows x 9 columns]

In [13]:
df['DOY:HH:MM:SS'][0].split(':')

['001', '01', '46', '58']

In [15]:

# Split the "DOY:HH:MM:SS" column into separate columns
df[['DOY', 'HH', 'MM', 'SS']] = df['DOY:HH:MM:SS'].str.split(':', expand=True)

# Create a 'datetime' column by combining the separate columns
df['datetime'] = pd.to_datetime(
    '20' + df['YY'].apply(str) + df['MON'] + df['DY'].apply(str) + ' ' +
    df['DOY'] + ' ' + df['HH'] + ':' +
    df['MM'] + ':' + df['SS'],
    format='%Y%b%d %j %H:%M:%S')

In [22]:
df.set_index('datetime', axis = 1).drop(['YY', 'MON', 'DY', 'DOY', 'DOY:HH:MM:SS', 'HH', 'MM', 'SS', 'datetime'], axis =1)

TypeError: DataFrame.set_index() got an unexpected keyword argument 'axis'

ftp://sohoftp.nascom.nasa.gov/qkl/lasco/quicklook/level_05/

In [1]:
lista = [1,2,3,4,5,6]
lista[1,2]

TypeError: list indices must be integers or slices, not tuple