# Checking data automation

In [1]:
from data.preprocessing import ACE, interval_time

## ACE

In [2]:
ace = ACE()
scrap_date = interval_time('20031029', '20031030')

### SIS

In [3]:
ace.SIS(scrap_date)

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/sis/level_2_cdaweb/sis_h1/2003/ac_h1_sis_20031029_v04.cdf to ./data/ACE/SIS/temp/20031029.cdf

100%|██████████| 392051/392051 [00:00<00:00, 397644.16it/s]

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/sis/level_2_cdaweb/sis_h1/2003/ac_h1_sis_20031030_v04.cdf to ./data/ACE/SIS/temp/20031030.cdf

100%|██████████| 392051/392051 [00:01<00:00, 300964.69it/s]

,flux_He_1,flux_He_2,flux_He_3,flux_He_4,flux_He_5,flux_He_6,flux_He_7,flux_He_8,flux_C_1,flux_C_2,...,cnt_Fe_7,cnt_Fe_8,cnt_Ni_1,cnt_Ni_2,cnt_Ni_3,cnt_Ni_4,cnt_Ni_5,cnt_Ni_6,cnt_Ni_7,cnt_Ni_8
datetime,,,,,,,,,,,,,,,,,,,,,
2003-10-29 00:04:14,8.5290,0.3159,0.000,15.4500,0.0000,0.05753,0.05193,12.160,0.40850,0.09760,...,0.0,0.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2003-10-29 00:08:29,6.1260,0.1708,0.000,0.0000,22.6600,29.26000,13.23000,0.000,0.30170,0.57660,...,0.0,0.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-10-29 00:12:46,0.2543,0.0000,10.590,0.0000,35.3000,0.00000,10.25000,13.040,0.33770,0.35390,...,0.0,0.0,6.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2003-10-29 00:17:02,15.7700,0.6079,23.470,0.0000,0.0000,35.37000,0.07005,0.000,0.47550,0.44560,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-10-29 00:21:17,5.8480,14.9600,17.170,0.5198,9.2040,0.00000,0.11680,0.000,0.81200,0.20240,...,0.0,0.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-10-30 23:42:54,0.3085,15.5500,9.661,0.0000,4.0420,0.10590,0.31880,0.407,0.03455,0.01557,...,0.0,0.0,6.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0
2003-10-30 23:47:10,22.0800,25.9700,21.270,4.7040,0.1395,0.00000,0.00000,0.000,0.03134,0.01374,...,0.0,0.0,7.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0
2003-10-30 23:51:25,27.3400,35.5900,11.560,16.2700,2.8540,1.00100,0.00000,0.000,0.03082,0.02033,...,0.0,0.0,8.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0
2003-10-30 23:55:41,14.7400,35.3200,0.000,4.3770,2.9010,1.06400,0.00000,0.000,0.02437,0.01506,...,0.0,0.0,9.0,8.0,1.0,3.0,0.0,0.0,0.0,0.0
2003-10-30 23:59:58,18.6100,15.9700,0.000,7.5420,1.6700,1.36000,0.00000,0.000,0.04037,0.02991,...,0.0,0.0,6.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0

### MAG

In [3]:
ace.MAG(scrap_date)

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/mag/level_2_cdaweb/mfi_h0/2003/ac_h0_mfi_20031029_v05.cdf to ./data/ACE/MAG/temp/20031029.cdf

100%|██████████| 411001/411001 [00:01<00:00, 326165.66it/s]

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/mag/level_2_cdaweb/mfi_h0/2003/ac_h0_mfi_20031030_v05.cdf to ./data/ACE/MAG/temp/20031030.cdf

100%|██████████| 411001/411001 [00:01<00:00, 348469.68it/s]

,Bnorm,BGSM_x,BGSM_y,BGSM_z,SC_GSM_x,SC_GSM_y,SC_GSM_z,dBrms,BGSE_x,BGSE_y,BGSE_z,SC_GSE_x,SC_GSE_y,SC_GSE_z
datetime,,,,,,,,,,,,,,
2003-10-29 00:00:04,9.600,3.585,7.542,-4.670,1475816.0,237006.0,-174328.0,0.801,3.585,8.212,-3.353,1475816.0,262654.0,-132572.0
2003-10-29 00:00:20,9.495,5.101,5.847,-4.924,1475816.0,236994.0,-174345.0,2.391,5.101,6.584,-3.885,1475816.0,262654.0,-132571.0
2003-10-29 00:00:36,9.518,6.086,4.893,-5.323,1475817.0,236981.0,-174362.0,1.131,6.086,5.709,-4.437,1475817.0,262654.0,-132571.0
2003-10-29 00:00:52,9.472,5.716,5.917,-4.579,1475817.0,236968.0,-174379.0,1.037,5.716,6.596,-3.532,1475817.0,262654.0,-132571.0
2003-10-29 00:01:08,9.515,5.232,6.625,-4.226,1475818.0,236956.0,-174396.0,1.196,5.232,7.236,-3.066,1475818.0,262654.0,-132570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-10-30 23:58:44,27.393,-9.098,-25.367,-4.630,1479368.0,238781.0,-168473.0,2.476,-9.098,-24.324,-8.559,1479368.0,262295.0,-128844.0
2003-10-30 23:59:00,25.492,-6.350,-24.339,-4.092,1479368.0,238769.0,-168489.0,1.231,-6.350,-23.393,-7.868,1479368.0,262295.0,-128843.0
2003-10-30 23:59:16,25.232,-6.852,-23.681,-5.193,1479369.0,238757.0,-168506.0,1.664,-6.852,-22.570,-8.853,1479369.0,262295.0,-128843.0
2003-10-30 23:59:32,24.864,-6.885,-23.413,-4.719,1479369.0,238745.0,-168523.0,0.772,-6.885,-22.378,-8.345,1479369.0,262295.0,-128843.0
2003-10-30 23:59:48,25.374,-7.557,-23.713,-4.808,1479369.0,238733.0,-168540.0,1.141,-7.557,-22.661,-8.482,1479369.0,262295.0,-128842.0

### SWEPAM

In [3]:
ace.SWEPAM(scrap_date)

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/swepam/level_2_cdaweb/swe_h0/2003/ac_h0_swe_20031029_v06.cdf to ./data/ACE/SWEPAM/temp/20031029.cdf

100%|██████████| 150193/150193 [00:00<00:00, 199874.83it/s]

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/swepam/level_2_cdaweb/swe_h0/2003/ac_h0_swe_20031030_v07.cdf to ./data/ACE/SWEPAM/temp/20031030.cdf

100%|██████████| 150193/150193 [00:00<00:00, 199182.63it/s]

,Np,Vp,Tpr,alpha_ratio,V_GSE_1,V_GSE_2,V_GSE_3,V_GSM_1,V_GSM_2,V_GSM_3
datetime,,,,,,,,,,
2003-10-29 00:00:20,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-29 00:01:24,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-29 00:02:28,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-29 00:03:32,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-29 00:04:36,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
...,...,...,...,...,...,...,...,...,...,...
2003-10-30 23:55:00,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-30 23:56:04,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-30 23:57:08,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-30 23:58:12,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31
2003-10-30 23:59:16,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31

### SWICS

In [3]:
ace.SWICS(scrap_date)

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/swics/level_2_cdaweb/swi_h6/2003/ac_h6_swi_20031029_v03.cdf to ./data/ACE/SWICS/temp/20031029.cdf

100%|██████████| 22436/22436 [00:00<00:00, 87704.49it/s]

Downloading https://cdaweb.gsfc.nasa.gov/sp_phys/data/ace/swics/level_2_cdaweb/swi_h6/2003/ac_h6_swi_20031030_v03.cdf to ./data/ACE/SWICS/temp/20031030.cdf

100%|██████████| 22436/22436 [00:00<00:00, 86977.83it/s]

                          nH       vH      vthH
datetime
2003-10-29 00:11:57  0.98536   442.79    1.8515
2003-10-29 00:24:02  1.54480   690.92   67.0010
2003-10-29 00:36:08  0.56602   280.61   10.9010
2003-10-29 00:48:23  0.33546   542.73   20.4240
2003-10-29 01:00:28  1.61840   675.62   60.6980
...                      ...      ...       ...
2003-10-30 23:09:44  3.52050  1251.20  132.7700
2003-10-30 23:21:50  5.91190  1244.60   92.6060
2003-10-30 23:34:04  5.02760  1249.00   94.7580
2003-10-30 23:46:10  6.00700  1233.20   98.3330
2003-10-30 23:58:16  5.08340  1232.60  117.2600

[237 rows x 3 columns]

### EPAM

In [4]:
ace.EPAM(scrap_date)

,P7,P8,DE1,DE2,DE3,DE4,W3,W4,W5,W6,...,P3p,P4p,P5p,P6p,P7p,P8p,E4,FP5,FP6,FP7
datetime,,,,,,,,,,,,,,,,,,,,,
2003-10-29 00:00:00,2.960500e+03,1.097000e+03,3.377600e+06,9.270000e+05,4.163700e+05,1.303100e+05,3.647600e+01,4.621300e+01,3.423400e+00,1.566200e+00,...,2.192500e+04,1.235000e+04,1.083400e+04,8.328200e+03,3.696600e+03,1.293900e+03,7.560400e+04,1.683700e+04,1.185000e+04,1.738100e+03
2003-10-29 00:05:00,2.957600e+03,1.078700e+03,3.604300e+06,9.758600e+05,4.308500e+05,1.333200e+05,3.709900e+01,4.582100e+01,3.811700e+00,1.434700e+00,...,2.192500e+04,1.222600e+04,1.067000e+04,8.214600e+03,3.646500e+03,1.273000e+03,7.472100e+04,1.658300e+04,1.162800e+04,1.718300e+03
2003-10-29 00:11:00,2.969000e+03,1.093700e+03,3.587600e+06,9.728600e+05,4.284700e+05,1.329600e+05,3.657400e+01,4.782900e+01,3.733100e+00,1.693200e+00,...,2.210900e+04,1.234600e+04,1.081700e+04,8.397400e+03,3.682700e+03,1.285900e+03,7.571400e+04,1.706900e+04,1.202400e+04,1.765900e+03
2003-10-29 00:16:00,3.131400e+03,1.121000e+03,3.474300e+06,9.470000e+05,4.215300e+05,1.322400e+05,3.879100e+01,4.711400e+01,4.460000e+00,1.676400e+00,...,2.255000e+04,1.261100e+04,1.124100e+04,8.802400e+03,3.855100e+03,1.351900e+03,7.735000e+04,1.804100e+04,1.299100e+04,1.892800e+03
2003-10-29 00:21:00,3.245400e+03,1.174000e+03,3.424300e+06,9.318600e+05,4.183500e+05,1.316300e+05,3.879100e+01,4.874800e+01,4.721400e+00,1.691600e+00,...,2.393700e+04,1.301600e+04,1.155200e+04,9.138300e+03,4.008100e+03,1.397000e+03,7.782800e+04,1.860400e+04,1.354500e+04,1.970800e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-10-30 23:35:00,7.260100e+03,1.850100e+03,5.519000e+05,1.355300e+05,5.353200e+04,1.511200e+04,9.831100e+02,7.064600e+01,1.307800e+01,2.477800e-01,...,6.252900e+04,3.193100e+04,1.586200e+04,7.246400e+03,3.182000e+03,1.068300e+03,2.086800e+04,1.059300e+04,7.872700e+03,1.757300e+03
2003-10-30 23:40:00,7.351300e+03,1.802000e+03,5.447600e+05,1.344400e+05,5.352200e+04,1.507100e+04,9.976300e+02,7.049300e+01,1.304100e+01,2.805400e-01,...,6.737700e+04,3.400800e+04,1.686600e+04,7.577400e+03,3.304400e+03,1.100500e+03,2.184300e+04,1.136800e+04,8.388400e+03,1.814100e+03
2003-10-30 23:45:00,7.208800e+03,1.769700e+03,5.423800e+05,1.342700e+05,5.335300e+04,1.507700e+04,9.666100e+02,6.831500e+01,1.128000e+01,2.545200e-01,...,6.670600e+04,3.376700e+04,1.674500e+04,7.562600e+03,3.259900e+03,1.090100e+03,2.167700e+04,1.129100e+04,8.364600e+03,1.799600e+03
2003-10-30 23:50:00,6.898200e+03,1.778000e+03,5.366700e+05,1.328300e+05,5.219200e+04,1.480600e+04,9.555800e+02,7.006800e+01,1.182400e+01,3.332500e-01,...,6.209100e+04,3.174600e+04,1.609600e+04,7.374900e+03,3.279400e+03,1.121500e+03,2.086800e+04,1.098300e+04,8.285400e+03,1.839900e+03
2003-10-30 23:55:00,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,...,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31,-1.000000e+31