# Checking data automation

In [9]:
from data.preprocessing import SOHO, interval_time

## SOHO

In [10]:
scrap_date = interval_time('20031029', '20031030')
soho = SOHO()

### Proton monitor

In [11]:
soho.CELIAS_PM(scrap_date)

                     SPEED    Np  Vth  N/S  V_He
datetime
2003-10-29 00:00:12    632  2.03   69  1.8   692
2003-10-29 00:05:00    638  1.98   72  2.8   703
2003-10-29 00:10:04    615  1.95   71  1.1   678
2003-10-29 00:15:04    635  1.94   72  0.0   701
2003-10-29 00:20:07    625  1.82   72  0.2   690
...                    ...   ...  ...  ...   ...
2003-10-30 23:35:45    973  0.91   72  0.7  1038
2003-10-30 23:40:46    978  1.13   77  1.0  1052
2003-10-30 23:45:50    993  1.29   59  0.8  1035
2003-10-30 23:50:51    985  1.57   76  1.2  1057
2003-10-30 23:55:53    979  1.00   71  0.9  1042

[572 rows x 5 columns]

### SEM

In [12]:
soho.CELIAS_SEM(scrap_date)

                           F_Flux        C_Flux
datetime
2003-10-29 00:00:00  2.857706e+11  5.335756e+11
2003-10-29 00:05:00  2.958104e+11  5.521589e+11
2003-10-29 00:10:00  3.016265e+11  5.629598e+11
2003-10-29 00:15:00  2.904847e+11  5.423347e+11
2003-10-29 00:20:00  2.900722e+11  5.414376e+11
...                           ...           ...
2003-10-30 23:35:00  3.280887e+10  6.575634e+10
2003-10-30 23:40:00  3.225637e+10  6.473944e+10
2003-10-30 23:45:00  3.189793e+10  6.410805e+10
2003-10-30 23:50:00  3.159230e+10  6.361019e+10
2003-10-30 23:55:00  3.156828e+10  6.359417e+10

[576 rows x 2 columns]

### COSTEP

In [13]:
soho.COSTEP_EPHIN(scrap_date)

,int_p4,int_p8,int_p25,int_p41,int_h4,int_h8,int_h25,int_h41
datetime,,,,,,,,
2003-10-29 00:00:00,65.489,48.211,18.5920,0.00000,9.1658,5.46270,4.2891,3.2796
2003-10-29 00:05:00,43.873,57.514,16.3940,13.91100,7.7970,4.90820,3.5677,0.0000
2003-10-29 00:10:00,55.846,52.439,14.5420,27.47700,8.4559,2.55530,2.4006,0.0000
2003-10-29 00:15:00,84.429,49.663,19.5810,7.06970,8.2317,2.12050,1.5742,0.0000
2003-10-29 00:20:00,69.365,49.499,35.2320,3.01040,9.2826,6.47580,4.1501,0.0000
...,...,...,...,...,...,...,...,...
2003-10-30 23:35:00,270.250,33.630,2.2562,0.85359,14.6970,0.96287,0.0000,0.0000
2003-10-30 23:40:00,243.210,28.753,1.8031,0.40128,14.9940,2.10980,0.0000,0.0000
2003-10-30 23:45:00,242.890,33.100,2.5526,0.66988,14.4920,1.85410,0.0000,0.0000
2003-10-30 23:50:00,264.360,32.954,2.0276,0.27343,13.5690,1.72800,0.0000,0.0000
2003-10-30 23:55:00,265.990,28.946,1.5345,1.26950,14.3680,1.89710,0.0000,0.0000