In [8]:
from viresclient import SwarmRequest

# Set up connection with server
request = SwarmRequest()
# Set collection to use
sc = ['A', 'B', 'C']
# - See https://viresclient.readthedocs.io/en/latest/available_parameters.html
request.set_collection(f"SW_OPER_MAG{sc[0]}_LR_1B")
# Set mix of products to fetch:
#  measurements (variables from the given collection)
#  models (magnetic model predictions at spacecraft sampling points)
#  auxiliaries (variables available with any collection)
# Optionally set a sampling rate different from the original data
request.set_products(
    measurements=[
        'F',
        'dF_Sun',
        'dF_AOCS',
        'dF_other',
        'B_NEC',
        'dB_Sun',
        'dB_AOCS',
        'dB_other',
        'q_NEC_CRF',
        ],
    auxiliaries=["Dst"],
)
# Fetch data from a given time interval
# - Specify times as ISO-8601 strings or Python datetime
data = request.get_between(
    start_time="2014-01-01T00:00",
    end_time="2014-01-01T01:00"
)
# Load the data as an xarray.Dataset
ds = data.as_dataframe()

Processing:    0%|          |  [ Elapsed: 00:00, Remaining: ? ] [1/1]

Downloading:   0%|          |  [ Elapsed: 00:00, Remaining: ? ] (0.736MB)

In [9]:
ds

,F,dF_other,dB_other,q_NEC_CRF,dF_Sun,dF_AOCS,Dst,Radius,Longitude,Spacecraft,dB_Sun,Latitude,dB_AOCS,B_NEC
Timestamp,,,,,,,,,,,,,,
2014-01-01 00:00:00,22867.4381,-0.0686,"[-0.032100000000000004, 0.029500000000000002, ...","[0.005202, 0.009633153, 0.9987178120000001, -0...",0.1115,-1.1434,6.000000,6878309.29,-14.116675,A,"[0.2777, -0.1258, 0.1178]",-1.228937,"[1.4688, -0.9839, -1.486]","[20103.5295, -4126.0959, -10086.8832]"
2014-01-01 00:00:01,22862.0581,-0.0675,"[-0.031900000000000005, 0.029500000000000002, ...","[0.005203139000000001, 0.009647357, 0.99871864...",0.1118,-1.1523,5.998889,6878316.53,-14.118150,A,"[0.2786, -0.12610000000000002, 0.1184]",-1.292296,"[1.4853, -0.9936, -1.5097]","[20074.8515, -4129.5971, -10130.2814]"
2014-01-01 00:00:02,22856.7006,-0.0665,"[-0.0318, 0.029400000000000003, 0.105400000000...","[0.005204285, 0.009661290000000001, 0.99871948...",0.1121,-1.1494,5.997777,6878323.77,-14.119626,A,"[0.2795, -0.1264, 0.1189]",-1.355654,"[1.4773, -1.0092, -1.5016]","[20046.1122, -4133.1791, -10173.5552]"
2014-01-01 00:00:03,22851.3526,-0.0654,"[-0.0316, 0.029400000000000003, 0.1053]","[0.005205499000000001, 0.00967492, 0.998720331...",0.1125,-1.1573,5.996666,6878330.99,-14.121101,A,"[0.2805, -0.1267, 0.11950000000000001]",-1.419013,"[1.4809, -0.9902000000000001, -1.5167000000000...","[20017.3218, -4136.6541, -10216.7149]"
2014-01-01 00:00:04,22846.0295,-0.0644,"[-0.031400000000000004, 0.029300000000000003, ...","[0.00520684, 0.009688216000000001, 0.998721186...",0.1128,-1.1619,5.995555,6878338.20,-14.122576,A,"[0.28140000000000004, -0.127, 0.12000000000000...",-1.482372,"[1.4851, -0.9718, -1.5395]","[19988.536200000002, -4140.1093, -10259.675000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-01 00:59:55,40339.8889,0.1536,"[-0.12350000000000001, 0.0014, -0.1446]","[0.000424862, -0.000152062, 0.0036307920000000...",0.0309,-0.0710,3.501349,6867921.06,153.620382,A,"[-4.2503, 1.3927, -0.8629]",49.090276,"[-0.11170000000000001, -0.2942, 0.175500000000...","[18510.604300000003, -1811.9167, 35796.5572]"
2014-01-01 00:59:56,40366.0485,0.1537,"[-0.1237, 0.0015, -0.14450000000000002]","[0.00039538, -0.00015735, 0.003696477, -0.9999...",0.0309,-0.0712,3.501071,6867914.36,153.622529,A,"[-4.248200000000001, 1.3920000000000001, -0.86...",49.153698,"[-0.10740000000000001, -0.3118, 0.1562]","[18485.541400000002, -1813.4050000000002, 3583..."
2014-01-01 00:59:57,40392.1786,0.1538,"[-0.12390000000000001, 0.0015, -0.1444]","[0.000366272, -0.00016268600000000002, 0.00376...",0.0309,-0.0739,3.500793,6867907.66,153.624692,A,"[-4.246, 1.3912, -0.8595]",49.217121,"[-0.1163, -0.2942, 0.1943]","[18460.335, -1814.9302, 35881.2348]"
2014-01-01 00:59:58,40418.2784,0.1540,"[-0.124, 0.0016, -0.1443]","[0.000337534, -0.00016803600000000002, 0.00382...",0.0309,-0.0653,3.500516,6867900.98,153.626872,A,"[-4.2438, 1.3905, -0.8578]",49.280543,"[-0.1062, -0.3111, 0.155]","[18435.0901, -1816.6409, 35923.4893]"
2014-01-01 00:59:59,40444.3467,0.1541,"[-0.1242, 0.0016, -0.1442]","[0.00030916, -0.000173369, 0.003894049, -0.999...",0.0309,-0.0575,3.500238,6867894.30,153.629068,A,"[-4.2417, 1.3898000000000001, -0.8561000000000...",49.343965,"[-0.0974, -0.3307, 0.1164]","[18409.9687, -1818.5818000000002, 35965.5895]"

In [6]:
request.available_measurements("SW_OPER_MAGA_LR_1B")

['F',
 'dF_Sun',
 'dF_AOCS',
 'dF_other',
 'F_error',
 'B_VFM',
 'B_NEC',
 'dB_Sun',
 'dB_AOCS',
 'dB_other',
 'B_error',
 'q_NEC_CRF',
 'Att_error',
 'Flags_F',
 'Flags_B',
 'Flags_q',
 'Flags_Platform',
 'ASM_Freq_Dev']